h1{
	color:green;
	text-align: left;

}

div{
	background-color: teal;
	color: black;
	width: 500px;
	height: 200px;
	margin: 50px;
	padding: 25px;
	font-family:Calibri, sans-serif;
	font-size: 28px;
	font-weight: bold;

	border: 3px solid red;


}

table{
	border: solid 2px black;
	border-collapse: collapse;
	width: 50%;

}
th, td{
	border: solid 1px black;
	border-collapse: collapse;
	padding: 5px;
	text-align: center;
}

th{
	background-color: lightgray;	
}

#top{
	font-size: 50px;
}

#middle{
	font-size: 25px;
}
#bottom{
	font-size: 10px;
}

.mySpan{
	font-weight: bold;
	color: white
}